.inventory-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
    grid-gap: 20px;
}

.inventory-item {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 25px;
}

.inventory-item img {
    width: 100%;
    transition: transform 0.5s;
}

.inventory-item:hover img {
    transform: scale(.9);
}

.update-button {
    background-color: #fde148;
    text-decoration: none;
    list-style: none;
    padding: 10px 20px;
    font-weight: bold;
    color: #000000;
    border-radius: 5px;
    margin-bottom: 10px;
    border: none;
    text-transform: uppercase;
    transition: transform 0.5s;
}

.update-button:hover {
    transform: scale(.9);
}

.manage-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.manage-button a{
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 20px;
    background-color: #e52727;
    padding: 10px 20px;
    border-radius: 10px;
    text-transform: uppercase;
    transition: transform 0.5s;
}

.manage-button a:hover {
    transform: scale(.9);
}

@media only screen and (max-width: 576px) {
    .inventory-section {
        grid-template-columns: repeat(1, 1fr);
    }

    .inventory-item {
        width: 100%;
    }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
    .inventory-section {
        grid-template-columns: repeat(2, 1fr);
    }
}
