.gallery {
    background-image: url('../../../Images/backgroud/background.jpg');
    background-position: center;
    background-size: cover;
}

.new-title {
    background-color: #fde148;
    color: black;
    padding: 5px 0;
    font-weight: bold;
}

.title-section p {
    font-size: 17px;
    line-height: 35px;
}

.image-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 20px;
}

.card h5 {
    font-size: 25px;
    background-color: #e52727;
    padding: 5px 0;
    border-radius: 5px;
}

.card p {
    font-size: 17px;
    background-color: #fde148;
    padding: 5px 0;
    border-radius: 5px;
}

.card {
    height: 300px;
    border-radius: 10px;
    padding: 15px 25px;
    cursor: pointer;
    margin: 10px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

.card1 {
    background-image: url('../../../Images/backgroud/helmet.jpg');
}
.card2 {
    background-image: url('../../../Images/backgroud/jacket.jpeg');
}
.card3 {
    background-image: url('../../../Images/backgroud/gloves.jpg');
}
.card4 {
    background-image: url('../../../Images/backgroud/boot.jpg');
}

.image-card h5 {
    color: white;
}

.card:hover {
    transform: scale(.9);
}


@media only screen and (max-width: 576px) {
    .image-card {
        grid-template-columns: repeat(1, 1fr);
    }

    .card h5 {
        width: 100% !important; 
    }

    .card p {
        width: 100% !important; 
    }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
    .image-card {
        grid-template-columns: repeat(2, 1fr);
    }

    .card h5 {
        width: 100% !important; 
    }

    .card p {
        width: 100% !important; 
    }
}